html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a:hover, a:active {
    outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*styles*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 26px;
}

body {
    color: #334355;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.modal {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-body input,
.modal-body textarea {
    margin-bottom: 26px;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 20px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    background: linear-gradient(270deg, #506276 0%, #334355 100%);
}

.modal-title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    background: linear-gradient(270deg, #FFF3EC 0%, #FFF5EF 99.99%, rgba(255, 237, 226, 0) 100%);
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

.fixed-phone {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: url('./images/phone-call.png') 0 0/cover no-repeat;
    border-radius: 50%;
    display: block;
    width: 64px;
    height: 64px;
    z-index: 1000;
}

.wrapper {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 56px;
    overflow: hidden;
}

.menu__container {
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 56px;
    overflow: hidden;
}

.row {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #334355;
}

.menu {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 32px 0;
    padding: 22px 0;
}

.menu__logo {
    width: 109px;
    height: 51px;
}

.menu__list {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 18px;
}

.menu__item {
    margin-left: 25px;
    text-align: center;
}

.menu__link {
    color: #354455;
    text-decoration: none;
}

.menu__link:hover {
    color: #5383b9;
}

.menu__button {
    background: linear-gradient(270deg, #506276 0%, #334355 100%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    white-space: nowrap;
}

.submit-btn:hover,
.menu__button:hover {
    background: linear-gradient(270deg, #68809b 0%, #4d6480 100%);
}

.photo {
    border: 3px solid #FFF5EF;
    position: relative;
    top: 26px;
    left: 26px;
    max-width: 480px;
    max-height: 673px;
    flex: 1;
}

.photo__image {
    background: url('./images/DSC4255.png') 0 0/cover no-repeat;
    width: 480px;
    height: 100%;
    position: relative;
    top: -26px;
    left: -26px;
}

.description {
    display: flex;
    padding: 26px 0;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

.description__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 59px;
}

.description__title-digital {
    font-weight: 800;
}

.description__title-win{
    margin-left: 62px;
    font-weight: 800;
}

.description__subtitle {
    text-align: center;
    margin: 63px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 27px;
}

.form-header {
    background: linear-gradient(270deg, #FFF3EC 0%, #FFF5EF 99.99%, rgba(255, 237, 226, 0) 100%);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    width: 606px;
    padding: 1.8em 0;
}

.form-header__title {
    text-align: center;
    margin: 52px auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 35px;
}

.form-header__fields {
    display: flex;
    flex-direction: column;
    padding: 0 62px;
}

.form-header__input {
    border: none;
    padding: 10px;
}

.submit-btn {
    display: block;
    background: linear-gradient(90deg, #334355 0%, #4D596A 87.63%);
    border: none;
    align-self: center;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 233px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    padding: 20px;
    margin: 36px;
    cursor: pointer;
}



.question__link {
    background: linear-gradient(90deg, #334355 0%, #4D596A 87.63%);
    padding: 15px 30px;
    margin: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.question {
    margin-top: 20px;
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.question__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
}

.section-header {
    color: #fff;
    text-align: center;
    padding: 43px 0;
    background: linear-gradient(90deg, #334355 0%, #4D596A 87.63%);
}

.section-header__title {
    font-weight: 400;
}

.services-background {
    background: linear-gradient(288.83deg, rgba(255, 248, 243, 0.78) 4.26%, rgba(255, 248, 243, 0) 97.59%);
    padding: 109px 0px 27px;
}

.services__subtitle {
    color:rgb(192, 113, 16);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

.services__title {
    margin: 9px 0px 72px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid__item {
    background: #FBFBFB;
    box-shadow: 0px 0px 70px 10px #EBEBEB;
    margin: 46px 46px 46px 0px;
    padding: 50px;
    transition: .5s;
}

.grid__item:hover {
    transform: scale(1.03);
    box-shadow: 0px 00px 10px 10px #dad8d8;

}

.grid__item:nth-child(2n) {
    margin-left: 46px;
    margin-right: 0px;
}

.grid__item-title {
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}

.grid__list-item {
    display: flex;
    align-items: center;
}

.marker {
    display: block;
    background-color:rgb(192, 113, 16);
    min-width: 8px;
    height: 8px;
}

.list-content {
    display: block;
    margin: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.about {
    padding: 124px 0 110px;
    display: flex;
}

.about__side {
    flex: 2;
    margin-right: 40px;
}

.about__title {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    margin: 0 0 20px;
}

.about__title-monika {
    font-weight: 600;
}

.about__description {
    padding: 15px 15px 15px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 30px;
}

.about__contacts span {
    margin-right: 40px;
    white-space:nowrap;
}

.about__email,
.about__phone {
    padding-left: 40px;
    position: relative;
}

.about__phone a {
    color:#334355;
    text-decoration: none;
}

.about__email::before,
.about__phone::before {
    position: absolute;
    content: '';
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.about__email::before {
    background: url("./images/email.png") 0 0/20px 20px no-repeat;
}
.about__phone::before {
    background: url("./images/call.png") 0 0/20px 20px no-repeat;
}

.about-btn {
    margin: 25px 0 25px 0;
}

.photo__image-wrap {
    border: 3px solid #FFF5EF;
    position: relative;
    top: 26px;
    left: 26px;
    width: 436px;
    height: 610px;
    flex: 1;
}

.about__photo {
    background: url('./images/DSC4421.png') 0 0/cover no-repeat;
    width: 436px;
    height: 610px;
    flex: 1;
    position: relative;
    top: -26px;
    left: -26px;
}

.checklist {
    background: linear-gradient(90deg, #334355 0%, #4D596A 87.63%);
}

.checklist__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

.checklist-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.checklist__left {
    flex: 1;
}

.checklist__right {
    flex: 1;
}

.checklist__item {
    margin: 30px 0;
    padding-left: 28px;
    position: relative;
}

.checklist__item::before {
    position: absolute;
    content: '';
    left: 0;
    top: -3px;
    width: 20px;
    height: 20px;
    background: url("./images/check_circle_outline_24px.png");
    background-size: cover;
}

.footer__title {
    margin-top: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
}

.footer__title span {
    font-weight: 600;
}

.footer__subtitle {
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

.keywords-wrapper {
    color: #fff;
    background: linear-gradient(90deg, #334355 0%, #4D596A 87.63%);
}

.keywords p {
    padding-top: 1.2rem;
    line-height: 1.5rem;
}

.copyrights {
    display: flex;
    justify-content: space-around;
    padding: 64px;
}

.copyrights-mobile {
    padding: 64px 0;
    display: none;
}

.menu__list-mobile {
    display: none;
}

.copyrights a {
    color: #fff;
    padding: 0 8px;
    white-space: nowrap;
}

.contacts {
    margin-top: 80px;
    margin-bottom: 80px;
    background: linear-gradient(270deg, #FFF3EC 0%, #FFF5EF 99.99%, rgba(255, 237, 226, 0) 100%);
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
    padding: 70px
}

.contacts__item {
    font-size: 1rem;
    color: #334355;
    display: block;
    padding: 10px;
    margin-bottom: 46px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #FFF4ED;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.checkbox-wrapper {
    margin-bottom: 46px;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.contacts__item:focus {
    border: 3px solid #ffd0b3;
    /* outline: 3px solid rgb(238, 185, 172); */
}

.contacts__title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 80px;
}

.form-container-row {
    display: flex;
}

.text-area {
    width: 0 auto;
    resize: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 76px;
}

.form-container:last-child {
    margin: 0;
}

.footer-btn {
    margin: 0;
    align-self:flex-end;
}

.btn-arrow {
    padding-right: 40px;
    position: relative;
}


.btn-arrow::before {
    position: absolute;
    content: '';
    right: 15px;
    top: 23px;
    width: 10px;
    height: 15px;
    background: url("./images/keyboard_arrow_right_24px.png") 0 0 no-repeat;
}

.burger {
    display: none;
    width: 36px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 6px;
    background-color: #334355;
    position: absolute;
    left: 0;
    transition: .3s all linear;
}

.burger__line-first {
    top: 0;
}

.burger__line-second,
.burger__line-third {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-fourth {
    bottom: 0;
}

.burger__active .burger__line-first,
.burger__active .burger__line-fourth {
    opacity: 0;
}

.burger__active .burger__line-second {
    transform: translateY(-50%) rotate(45deg);
}

.burger__active .burger__line-third {
    transform: translateY(-50%) rotate(-45deg);
}

.certyfikat {
    display: none;
}

@media (max-width: 1320px) {
    .photo {
        width: 380px;
        height: 473px;
        flex: 1;
    }
    
    .photo__image {
        background: url('./images/DSC4255.png') 0 0/cover no-repeat;
        width: 380px;
        height: 100%;
        position: relative;
        top: -26px;
        left: -26px;
    }

    .description__title {
        font-size: 2.4em;
        padding: 0 0 0 28px;
    }

    .description__subtitle {
        margin: 28px auto;
        font-size: 1.2em;
    }
    
    .form-header {
        width: 70%;
    }

    .form-header__title {
        margin: 26px auto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4em;
        line-height: 35px;
    }
    
}

@media (max-width: 976px)  {

    .photo {
        width: 380px;
        height: 473px;
    }
    
    .photo__image {
        width: 380px;
        height: 473px;
        position: relative;
        top: -26px;
        left: -26px;
    }

    .description__title {
        font-size: 1.8em;
    }

    .form-header__title {
        margin: 0 0 24px;
    }

    .form-header__fields {
        padding: 0 22px;
    }

    .about__description {
        font-size: 1em;
    }

    .about__photo {
        width: 366px;
        height: 510px;
    }

    .photo__image-wrap {
        width: 366px;
        height: 510px;
    }
}

@media (max-width: 924px)  {
    .copyrights {
        display: none;
    }

    .copyrights-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .copyrights-mobile a {
        color: #fff;
        display: block;
        padding: 16px;
    }
} 
@media (max-width: 768px)  {

    .page__content {
        margin-top: 54px;
    }

    .description__title {
        padding: 0;
    }

    .description__title-win {
        margin-left: 24px;
    }

    .description__subtitle {
        margin: 12px auto;
    }

    .wrapper {
        padding: 0 36px;
    }

    .menu {
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 8px 0;
    }

    .menu__item {
        margin: 26px 0;
    }

    .menu__container {
        display: flex;
        justify-content:space-between;
        align-items: center; 
        padding: 6px 36px;
        overflow: hidden;
    }

    .menu__logo {
        width: 89px;
        height: 41px;
    }

    .photo {
        display: none;
        width: 280px;
        height: 408px;
    }

    .photo__image {
        width: 280px;
        height: 408px;
    }

    .about__photo {
        width: 266px;
        height: 352px;
    }

    .about__side {
        margin: 0;
    }

    .photo__image-wrap {
        width: 266px;
        height: 352px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .menu__list {
        display: none;
    }

    .menu__list-mobile-active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-header {
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid__item {
        margin: 46px 0 0 0;
        padding: 26px;
    }

    .grid__item:nth-child(2n) {
        margin: 46px 0 0 0;
    }

    .grid__item:first-child {
        margin: 0 0 0 0;
    }

    .grid__item:last-child {
        margin: 46px 0 46px 0;
    }

    .about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__side {
        margin-top: 36px;
    }

    .checklist-container {
        flex-direction: column;
        align-items:flex-start;
    }

    .form-container-row {
        flex-direction: column;
    }

    .form-container {
        margin-right: 0;
    }

    .footer-btn {
        align-self: center;
    }

    .contacts {
        padding: 24px;
    }

}